head
  link(rel='stylesheet', href='/css/game.css')
  link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap', rel='stylesheet')
  script.
    const roomName="#{roomName}";
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='https://code.jquery.com/ui/1.12.0/jquery-ui.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.1/howler.js")
  script(src='/socket.io/socket.io.js')
#container
  #indication
  #trapsRewardsMenu
    #sound-check-box-div
    #timer
      h2 Temps restant
      p#countdown --:--
    #trapsMenu
      h2 Pieges
      li#trapsList
    #rewardsMenu
      h2 Recompenses
      li#rewardsList
  #scoreListContainer
    h1#scoreLabel Scores
    h5
    li#scoreList
  #canvaContainer
    canvas#canva
script(src='/js/vue.js')
script(src='/js/inputListener.js')
script(src='/js/controller.js')


