html
    head
        link(rel="stylesheet", href="/css/game.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="/js/ui.js")
        script(src="/js/renderer.js")
        script(src="/script/script.js")
        
    body
        canvas(id="renderer")
    script(src="/js/inputListener.js")
    