head
  link(rel='stylesheet', href='/css/game.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='https://code.jquery.com/ui/1.12.0/jquery-ui.js')
  script(src='/js/ui.js')
  script(src='/js/renderer.js')
  script(src='/script/script.js')
#trapsRewardsMenu
  #trapsMenu
    h3 Pieges
    li#trapsList
  #rewardsMenu
    h3 Recompenses
    li#rewardsList
canvas#canva
script(src='/js/inputListener.js')
