head
  link(rel='stylesheet', href='/css/lobby.css')
  link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap', rel='stylesheet')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='https://code.jquery.com/ui/1.12.0/jquery-ui.js')
  script(src='/socket.io/socket.io.js')
  script(src='/js/lobbyManager.js')
  script.
    var socket = io.connect('http://localhost:3000');

#page-container
  #container
    h2#menuTitle MENU DES SALONS
    ul
    #room-container
      each room in Object.keys(rooms)
        button(onclick='window.location.replace("/'+ room +'")').room(id=room) #{room}
    div#createRoom-container
      form(action='/room', method='POST')#createRoom
        input(name='room', type='text', required='')
        input(name='state', type='checkbox')
        <label for="state">Salon privé</label>
        button(type='submit').btn Nouveau Salon
